@import "tailwindcss";

@theme {
  --color-dark-black: #000000;
  --color-dark-deep-red: #3d0000;
  --color-dark-dark-red: #950101;
  --color-dark-highlight-red: #ff0000;
}

.icon-small {
  width: 1rem;
  height: 1rem;
}
.icon-medium {
  width: 1.5rem;
  height: 1.5rem;
}
.icon-big {
  width: 2rem;
  height: 2rem;
}

/* 
1. #000000; pozadina svega
2. #3d0000; tamnija crvena
3. #950101; tamna crvena
4. #FF0000; svjetlija crvena

*/
